body {
    min-width: 200px;
    min-height: 200px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner {
    width: 100%;
    background: linear-gradient(50deg, #ff8d00, transparent);
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
}

.logo {
    width: 50%;
    display: block;
    margin: auto;
}

.switchWrapper {
    margin: auto;
    text-align: center;
}

.MuiFormControlLabel-root{
    margin: 0 !important;
}